.issue-box {
  display: flex;
  flex-direction: row;
}

.arrow {
  display: block;
  width: 16px;
  cursor: pointer;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.arrow-right {
    background-image: url("icons/icons8-forward.svg");
  }

  &.arrow-down {
    background-image: url("icons/icons8-expand-arrow.svg");
  }
}

.arrow[hidden] {
  display: none;
}

.issue-title {
  display: block;
  flex: 1;
}

.issue-title-text {
  cursor: pointer;
  font-weight: 600;
  &:hover {
    color: #0366d6;
  }
}

.view-in-github-box {
  display: block;
  box-sizing: border-box;
}

.issue-comment-count {
  display: block;
  cursor: pointer;
  font-weight: 600;

  padding-left: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("icons/icons8-comments.svg");
}

.issue-sub {
  margin-top: 5px;
  padding-left: 21px;
}
